<% if (main) { %>
<form action="/login">
    <div class="form-group">
        <input class="btn btn-primary mb-3" type="submit" value="Login">
    </div>
</form>

OR

<form action="/signup">
    <div class="form-group">
        <input class="btn btn-primary mb-3" type="submit" value="Sign Up">
    </div>
</form>

<% } %>